// https://web.dev/website-navigation/
@include breakpoint($desktop) {
  nav#mainnav {
    position: static;

    button {
      @include hidden;
    }

    ul {
      display: flex;

    }

    a {
      color: $primary;
      text-transform: uppercase;
    }

    li + li {
      margin-left: 1rem;
    }
  }
}
