---
layout: primary
title: Marcus. G Miller | Home
---
        <main>
            <section id="workshops">
                <p class="super-headline">Find your entrance level & book a workshop with Marcus</p>
                <h2>If you never start, you will never know.</h2>

                <div class='grid'>
                    <div class="level">
                        <div class='icon'>
                            <img src="./images/stretch.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                        </div>
                        <div class='number'>
                            <p>3</p>
                        </div>
                        <div class='copy'>
                            <h3>As pro as you can get</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="button">Book Workshop</a>
                        </div>
                        <div class='quote'>
                            <img src="./images/quote.svg" alt='quote sign'>
                            <blockquote>Respect your talent!</blockquote>
                        </div>
                    </div>

                    <div class="level">
                        <div class='icon'>
                            <img src="./images/up.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                        </div>
                        <div class='number'>
                            <p>2</p>
                        </div>
                        <div class='copy'>
                            <h3>Aspire more</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="button">Book Workshop</a>            
                        </div>
                        <div class='quote'>
                            <img src="./images/quote.svg" alt='quote sign'>
                            <blockquote>Thank yourself for levelling up now!</blockquote>
                        </div>
                    </div>

                    <div class="level">
                        <div class='icon'>
                            <img src="./images/rise.svg" alt='Icon showing dancer stretching her leg up to her nose.'>
                        </div>
                        <div class='number'>
                            <p>1</p>
                        </div>
                        <div class='copy'>
                            <h3>Learn the Basics profoundly</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                            <a href="#" class="button">Book Workshop</a>            
                        </div>
                        <div class='quote'>
                            <img src="./images/quote.svg" alt='quote sign'>
                            <blockquote>Fall in love with dancing!</blockquote>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about">
                <div class='columns'>
                    <div class='col-1'>
                        <img src="./images/aaron.jpg" alt="Marcus G. Miller"/>
                    </div>

                    <div class='col-2'>
                        <p class="super-headline">Why I teach</p>
                        <h2>Hi, I'm Marcus!</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque incidunt, nihil, recusandae autem aut perferendis reiciendis a neque veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores consequatur consectetur ipsum!</p>

                        <a class='button'>Learn more</a> 
                    </div>
                </div>
            </section>
            <section id="news">
                <p class="super-headline">Making waves since 2002</p>
                <h2>In the News</h2>
                <div class='columns'>

          {% assign news = collections.news | reverse %}
          {% for n in news limit:3 %}
          <article>
              <h3><a href='{{ n.url }}'>{{ n.data.title }}</a> – </h3> 
              <img src="./images/dance_festival_performance.jpg" alt="Marcus performing at the Sydney dance festival 2022"> 
              <div class='copy'>
              <p>{{ n.data.excerpt }}</p>
              <a href="{{ n.url }}" class="button">Read more</a>
          </article>
          {% endfor %}
                </div>
            </section>
        </main>

